= form_for @reminder do |f|
  -if @reminder.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reminder.errors.count, "error")} prohibited this reminder from being saved:"
      %ul
        - @reminder.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :twitter_handle
    = f.text_field :twitter_handle
  .field
    = f.label :when
    = f.datetime_select :when
  .field
    = f.label :dm
    = f.check_box :dm
  .actions
    = f.submit 'Save'
