%h1 Listing reminders

%table
  %tr
    %th Content
    %th Twitter handle
    %th When
    %th Dm
    %th
    %th
    %th

  - @reminders.each do |reminder|
    %tr
      %td= reminder.content
      %td= reminder.twitter_handle
      %td= reminder.when
      %td= reminder.dm
      %td= link_to 'Show', reminder
      %td= link_to 'Edit', edit_reminder_path(reminder)
      %td= link_to 'Destroy', reminder, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Reminder', new_reminder_path
