%p#notice= notice

%p
  %b Content:
  = @reminder.content
%p
  %b Twitter handle:
  = @reminder.twitter_handle
%p
  %b When:
  = @reminder.when
%p
  %b Dm:
  = @reminder.dm

= link_to 'Edit', edit_reminder_path(@reminder)
\|
= link_to 'Back', reminders_path
